* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
}
@font-face {
    font-family: vazir;
    src: url(./fonts/Vazir-Bold.ttf) format('truetype');
}
body {
    background-color: #f6f5f5;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.nav {
    display: flex;
    direction: ltr;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5px;

} 
.nav ul {
    display: flex;
    flex-direction: row-reverse;
}
.nav ul li a{
    padding: 30px;
    font-family: 'Vazir', Arial, sans-serif;
    color: #505050;
    font-size: 18px;
    font-weight: 700;
}
.logo{
    font-family: 'Vazir', Arial, sans-serif;
    color: #000000;
    font-size: 22px;
    margin-left: 15px;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    padding: 120px 60px;
}
.image-container {
    position: relative;
    margin-right: 200px;
}
.head-image {
    width: 650px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}
.text-container {
    flex-grow: 1;
    margin-right: 100px;
    margin-bottom: 50px;
}
.text-container p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
    direction: rtl;
    height: fit-content;
}
.text-container h2:nth-child(2) {
    font-family: 'Vazir', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color:#1a1a1a;
    font-size: 60px;
    direction: rtl;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: 0px;
}
.text-container p:nth-child(3) {
    font-family: 'Vazir', Arial, sans-serif;
    color: #403e3e;
    font-size: 30px ;
    line-height: 30px;
    direction: rtl;
    height: fit-content;
    margin-bottom: 30px;
} 
.btn-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    direction: rtl;
    cursor: pointer;
}
.Recruitment-btn {
    border: 2px solid #373636;
    color:#373636;
}
.cv {
    background-color: #0b0b0b;
    color:#ffffff;
    border: none;
}
#about-me {
    height: 330px;
    max-width:1200px;
    border-radius: 20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
#about-me img{
    height: 252px;
    border-radius: 15px;
}
.about-me-text{
    width: 550px;
    font-size: 16px;
    text-align: justify;
}
.about-me-text:nth-child(1){
    color: #403e3e;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.about-me-btn button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    background-color:#262525;
    font-family: 'Vazir', Arial, sans-serif;
    cursor: pointer;
} 
button:active {
    transform: scale(1.1);
}
.contact-me {
    width: 100%;
    height: 280px;
    background-image: url(./images/project_20in_20your_20mind.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 30px;
}
.contact-me button {
    width: 200px;
    height: 40px;
    background-color: #f6f5f5;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Vazir', Arial, sans-serif;
    font-weight: bold;  
    cursor: pointer;
    font-size: 20px;
}
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: 'Vazir', Arial, sans-serif;
}
footer p:nth-child(1){
     font-size: 30px;
     font-weight: bold;
     color: #191919;
     margin-bottom: 30px;
}
footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}
#social-icon a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
#social-icon{
    display: flex;
}
#social-icon i{
    color: #000000;
}
#social-icon a:hover
.social-nav a:hover{
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  transition: all ease 0.5s;
}
#social-icon a:hover i,
.social-nav a:hover i{
  color: #5c5c5c;
  transition: all ease 0.5s;
}
.social-nav{
    position: fixed;
    top: 50%;
    right: 0px;
}
.social-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.social-nav i{
    color: #2b2b2b;
    font-size: 25px;
}
@media only screen and (max-width:1674px){
    .container p{
      margin: 0px;
    }
    .container p:nth-child(2){
      font-size: 10px;
  
    }
  }
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
::-webkit-scrollbar-thumb {
    background: #888; 
  }
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
html {
    scroll-behavior: smooth;
}